# Database
SINGLESTORE_USERNAME=admin
SINGLESTORE_PASSWORD=<database password>
SINGLESTORE_HOST=<database username>
SINGLESTORE_PORT=3306
SINGLESTORE_DATABASE=<database name>

# Redis Cloud
# USER IN REDIS CLOUD
REDIS_USERNAME=default
# DATABASE PASSWORD
REDIS_PASSWORD=<database password>
# REDIS HOST
REDIS_HOST=<redis url>
# REDIS PORT
REDIS_PORT=15065

# grafana
GF_SECURITY_ADMIN_PASSWORD=<admin password>
GF_USERS_ALLOW_SIGN_UP=false

# App config:
JWT_SECRET_KEY=
DEBUG=False
DETA_PROJECT_KEY=

# Deta
DETA_PROJECT_KEY=

# Server Cors
CORS_ORIGINS=localhost,127.0.0.1
