version: "3"

services:

  lb:
    image: haproxy:2.1
    ports:
      - "8000:8080"
    volumes:
      - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg

  app1:
    build: .
    env_file:
      - .env

  app2:
    build: .
    env_file:
      - .env

  app3:
    build: .
    env_file:
      - .env

  app4:
    build: .
    env_file:
      - .env

  prometheus:
    image: prom/prometheus:latest
    restart: always
    ports:
      - 9090:9090
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"

  grafana:
    image: grafana/grafana:latest
    restart: always
    depends_on:
      - lb
    ports:
      - 3001:3000
    volumes:
      - ./datasource.yml:/etc/grafana/provisioning/datasource.yml
    env_file:
      - .env
